<header id="header">
<h1>Header</h1>
</header>

<nav>
<ul id="nav">
	<li><a href="/en">Home</a></li>
	<li>{% if page_slug is defined %} <a data-no-swup="" href="/fr/{{ page_slug }}">FR</a> {% elseif post_slug is defined %} <a data-no-swup="" href="/fr/blog/{{ post_slug }}">FR</a> {% endif %}</li>
</ul>
</nav>