{% extends 'admin.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <section class="block">
        <a class="btn-link float-right" href="{{ path('admin_posts_add') }}">Créer un article</a>
        <h2>Liste des articles</h2>
    </section>
{% endblock %}