.partners-list{
    .row{
        justify-content: space-around;
        align-items: flex-start;
    }
    .item{
        &:not(:last-child){
            margin-bottom: $marge-m;
        }
    }
    img{
        max-width: 100%;
        height: auto;
        border: 1px solid gray;
    }
    @media screen and (min-width: $md) {
        .row{
            justify-content: inherit;
            align-items: inherit;
        }
        .item{
            &:not(:last-child){
                margin-bottom: 0;
            }
        }
        img{
            display: block;
        }
    }
}