<footer>
<ul>
	<li><a href="/fr">Accueil</a></li>
	<li><span onclick="tarteaucitron.userInterface.openPanel();">Cookies</span></li>
	<li>{% if page_slug is defined %} <a data-no-swup="" href="/en/{{ page_slug }}">EN</a> {% elseif post_slug is defined %} <a data-no-swup="" href="/en/blog/{{ post_slug }}">EN</a> {% endif %}</li>
</ul>
</footer>