<header id="header">
<h1>En-tête du site</h1>
</header>

<nav>
<ul id="nav">
	<li><a href="/fr">Accueil</a></li>
	<li>{% if page_slug is defined %} <a data-no-swup="" href="/en/{{ page_slug }}">EN</a> {% elseif post_slug is defined %} <a data-no-swup="" href="/en/blog/{{ post_slug }}">EN</a> {% endif %}</li>
</ul>
</nav>