{% extends 'admin.html.twig' %}

{% block title %}Social Manager - Gestion des réseaux sociaux{% endblock %}

{% block body %}
<section class="block">
    <h2>Social Manager - Gestion des réseaux sociaux</h2>
    {{ form(form) }}
</section>
{% endblock %}
