{% extends 'admin.html.twig' %}

{% block title %}Gestionnaire des médias{% endblock %}

{% block body %}
    <section class="block">
        <h2>Gestionnaire des médias</h2>
        <iframe id="inlineFrameExample" width="100%" height="500" src="/manager/?conf=default"></iframe>
    </section>
{% endblock %}
