{% extends 'admin.html.twig' %}

{% block title %}Gestionnaire des médias{% endblock %}

{% block body %}
<section class="block">
        <h2>Gestionnaire des médias</h2>
        <iframe src="/elfinder" width="100%" height="600" title="Gestionnaire des medias"></iframe>
    </section>
{% endblock %}
