{% extends 'admin.html.twig' %}

{% block title %}Gestionnaire des médias{% endblock %}

{% block body %}
<section class="block">
        <h2>Gestionnaire des médias</h2>
        {{ form_row(form.file_upload) }}
    </section>
{% endblock %}
