{% extends 'admin.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<section class="row home-row">
    <div class="col block">
        <h2>Dernières pages</h2>
    </div>
    <div class="col block">
        <h2>Derniers articles</h2>
    </div>
    <div class="col block">
        <h2>Utilisateurs</h2>
    </div>
</section>
{% endblock %}
