* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: #{$fsBody}px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

.scroll-content{
    @media screen and (min-width: $lg) {
        height: 100vh;
    }
}