* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: #{$fsBody}px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    letter-spacing: 0.04em;
}

figure{
    margin: 0;
}

// COULEURS
.bg-primary{
    color: white;
    background-color: $color-p;
    a:not(.btn-primary){
        color: white;
    }
}

.bg-gray{
    color: black;
    background-color: $color-gray;
    a{
        color: black;
    }
}

.bg-light{
    color: black;
    background-color: $color-body;
    a{
        color: black;
    }
}

.scroll-content{
    @media screen and (min-width: $lg) {
        height: 100vh;
        padding-top: $header-ht;
    }
}

.cover-img{
    @extend .position-relative;
    img{
        @extend .position-absolute;
        @extend .wd-100;
        @extend .ht-100;
    }
    &-32-9{
        @extend .cover-img;
        @media screen and (max-width: $sm) {
            aspect-ratio: 32/9;
        }
    }
    &-21-9{
        @extend .cover-img;
        @media screen and (max-width: $sm) {
            aspect-ratio: 21/9;
        }
    }
    &-16-9{
        @extend .cover-img;
        @media screen and (max-width: $sm) {
            aspect-ratio: 16/9;
        }
    }
    &-4-3{
        @extend .cover-img;
        @media screen and (max-width: $sm) {
            aspect-ratio: 4/3;
        }
    }
    &-3-4{
        @extend .cover-img;
        @media screen and (max-width: $sm) {
            aspect-ratio: 3/4;
        }
    }
}