* {
    box-sizing: border-box;
}

body{
    @extend .margin-none;
    font-size: #{$fsBody}px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    letter-spacing: 0.04em;
}

figure{
    margin: 0;
}

.scroll-content{
    @media screen and (min-width: $lg) {
        height: 100vh;
    }
}

.cover-img{
    @extend .margin-none;
    img{
        @extend .position-absolute;
        @extend .wd-100;
        @extend .ht-100;
    }
    &-no{
        &-md{
            &-32-9{
                @extend .cover-img;
                @media screen and (max-width: $md) {
                    aspect-ratio: 32/9;
                }
            }
            &-21-9{
                @extend .cover-img;
                @media screen and (max-width: $md) {
                    aspect-ratio: 21/9;
                }
            }
            &-16-9{
                @extend .cover-img;
                @media screen and (max-width: $md) {
                    aspect-ratio: 16/9;
                }
            }
            &-4-3{
                @extend .cover-img;
                @media screen and (max-width: $md) {
                    aspect-ratio: 4/3;
                }
            }
            &-3-4{
                @extend .cover-img;
                @media screen and (max-width: $md) {
                    aspect-ratio: 3/4;
                }
            }        
        }
        &-sm{
            &-32-9{
                @extend .cover-img;
                @media screen and (max-width: $sm) {
                    aspect-ratio: 32/9;
                }
            }
            &-21-9{
                @extend .cover-img;
                @media screen and (max-width: $sm) {
                    aspect-ratio: 21/9;
                }
            }
            &-16-9{
                @extend .cover-img;
                @media screen and (max-width: $sm) {
                    aspect-ratio: 16/9;
                }
            }
            &-4-3{
                @extend .cover-img;
                @media screen and (max-width: $sm) {
                    aspect-ratio: 4/3;
                }
            }
            &-3-4{
                @extend .cover-img;
                @media screen and (max-width: $sm) {
                    aspect-ratio: 3/4;
                }
            }        
        }
    }
    
}