<footer>
	<p>Conception et développement : Creative Eye Studio</p>
	<ul id="nav" class="margin-none padding-none">
		{{ include('webpages/blocks/_navigation.html.twig', { pos: 1 }) }}
		<li><span onclick="tarteaucitron.userInterface.openPanel();">Cookies</span></li>
	</ul>
</footer>