<header id="header" class="wd-100">
	<button class="btn-nav-desktop toggle-nav">Menu</button>
	<span class="main-title text-center">Startup Weekend Impact</span>
</header>

<nav class="main-nav position-fixed wd-100 bg-primary">
	<div class="nav-content padding-all-no-sm">
		<ul class="margin-none padding-none">
			{{ include('webpages/blocks/_navigation.html.twig', { pos: 0 }) }}
		</ul>
	</div>
	<div class="image">
		<img src="../uploads/images/img-nav.jpg" alt="Navigation du site Internet">
	</div>
</nav>

<button class="btn-nav toggle-nav position-fixed"></button>