*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    position: relative;
    padding: 3rem 3rem 6rem;
    font: 400 1em/1.5em "Lato";
    &.admin-page{
        margin: 0 0 0 $nav-width;
    }
}

hr{
    margin: 2rem 0;
}

p{
    margin-top: 0;
    &:last-child{
        margin-bottom: 0;
    }
}

a{
    &[target='_blank']{
        position: relative;
        &::after{
            content: "\1f855";
            position: absolute;
            top: 1.75rem;
            width: 10px;
            height: 10px;
            margin-left: 1rem;
            font-size: 1.2em;
            line-height: 0;
            color: white;
            border-left: 2px solid white;
            border-bottom: 2px solid white;
        }
    }
}

.btn-list{
    margin-top: 1.75rem;
    display: flex;
    column-gap: 1rem;
    a{
        display: block;
    }
}

.d-none{
    display: none;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.mt{
    margin-top: 1.75rem;
}

.mb{
    margin-bottom: 1.75rem;
}