.btn{
    &-primary{
        display: inline-block;
        padding: .75rem 1.5rem;
        font-weight: 500;
        text-decoration: none;
        color: rgb(16, 16, 16);
        background-color: $color-s1;
        position: relative;
        &::before{
            content: "\2192";
            color: rgb(16, 16, 16);
            position: absolute;
            left: 0;
            opacity: 0;
        }
    }
    &-nav{
        width: 52px;
        height: 52px;
        background-color: $color-s1;
        z-index: 20;
        border: none;
        bottom: 1rem;
        right: 1rem;
        border-radius: 6.25rem;
        &::before, &::after {
            content: '';
            width: 26px;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 3px 0;
        }
        &::before{
            margin: -4px 0;
        }
        &::after{
            margin: 4px 0;
        }
        @media screen and (min-width: $lg) {
            display: none;
        }
    }
    &-nav-desktop{
        @include font(400, 16, false, $ff-body);
        @extend .btn-primary;
        border: none;
        position: absolute;
        top: 50%;
        left: $marge-m;
        transform: translateY(-50%);
        @media screen and (max-width: $md) {
            display: none;
        }
    }
}