.container{
    max-width: 1400px;
    margin: auto;
    &-fluid{
        max-width: 100%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 calc($marge-d-x / 2);
    .col {
        @include flexBlockInit(); // Grille de base
        @each $breakpoint, $max-width in $breakpoints {
            @include respFlexBlockInit($breakpoint, $max-width);
        }
    }
}  