.parallax-section {
    position: relative;
    padding-top: 35%;
    overflow: hidden;
	margin-bottom: 15vh;
	background-color: lightcoral;
}

.parallax-element{
	position: absolute;
	width: 100%;
	height: calc(100% * 1.5);
	top: 0;
	left: 0;
	img{
		position: absolute;
		top: 0;
		left: 0;
		// z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}