.parallax-section {
	@extend .position-relative;
    padding-top: 35%;
    overflow: hidden;
	margin-bottom: 15vh;
	background-color: lightcoral;
}

.parallax-element{
	@extend .wd-100;
	@extend .position-absolute;
	height: calc(100% * 1.5);
	top: 0;
	left: 0;
	img{
		@extend .position-absolute;
		@extend .wd-100;
		@extend .ht-100;
		top: 0;
		left: 0;
		object-fit: cover;
		// z-index: -1;
	}
}