/* #region Width */
.wd{
    &-100{
        @include sizeType('width', 100%);
    }
    &-75{
        @include sizeType('width', 75%);
    }
    &-50{
        @include sizeType('width', 50%);
    }
    &-25{
        @include sizeType('width', 25%);
    }
    &-100vw{
        @include sizeType('width', 100vw);
    }
    &-75vw{
        @include sizeType('width', 75vw);
    }
    &-50vw{
        @include sizeType('width', 50vw);
    }
    &-25vw{
        @include sizeType('width', 25vw);
    }
}

.min-wd{
    &-100{
        @include sizeType('min-width', 100%);
    }
    &-75{
        @include sizeType('min-width', 75%);
    }
    &-50{
        @include sizeType('min-width', 50%);
    }
    &-25{
        @include sizeType('min-width', 25%);
    }
    &-100vw{
        @include sizeType('min-width', 100vw);
    }
    &-75vw{
        @include sizeType('min-width', 75vw);
    }
    &-50vw{
        @include sizeType('min-width', 50vw);
    }
    &-25vw{
        @include sizeType('min-width', 25vw);
    }
}

.max-wd{
    &-100{
        @include sizeType('max-width', 100%);
    }
    &-75{
        @include sizeType('max-width', 75%);
    }
    &-50{
        @include sizeType('max-width', 50%);
    }
    &-25{
        @include sizeType('max-width', 25%);
    }
    &-100vw{
        @include sizeType('max-width', 100vw);
    }
    &-75vw{
        @include sizeType('max-width', 75vw);
    }
    &-50vw{
        @include sizeType('max-width', 50vw);
    }
    &-25vw{
        @include sizeType('max-width', 25vw);
    }
}
/* #endregion Width */


/* #region Height */
.ht{
    &-100{
        @include sizeType('height', 100%);
    }
    &-75{
        @include sizeType('height', 75%);
    }
    &-50{
        @include sizeType('height', 50%);
    }
    &-25{
        @include sizeType('height', 25%);
    }
    &-100vh{
        @include sizeType('height', 100vh);
    }
    &-75vh{
        @include sizeType('height', 75vh);
    }
    &-50vh{
        @include sizeType('height', 50vh);
    }
    &-25vh{
        @include sizeType('height', 25vh);
    }
}

.min-ht{
    &-100{
        @include sizeType('min-height', 100%);
    }
    &-75{
        @include sizeType('min-height', 75%);
    }
    &-50{
        @include sizeType('min-height', 50%);
    }
    &-25{
        @include sizeType('min-height', 25%);
    }
    &-100vh{
        @include sizeType('min-height', 100vh);
    }
    &-75vh{
        @include sizeType('min-height', 75vh);
    }
    &-50vh{
        @include sizeType('min-height', 50vh);
    }
    &-25vh{
        @include sizeType('min-height', 25vh);
    }
}

.max-ht{
    &-100{
        @include sizeType('max-height', 100%);
    }
    &-75{
        @include sizeType('max-height', 75%);
    }
    &-50{
        @include sizeType('max-height', 50%);
    }
    &-25{
        @include sizeType('max-height', 25%);
    }
    &-100vh{
        @include sizeType('max-height', 100vh);
    }
    &-75vh{
        @include sizeType('max-height', 75vh);
    }
    &-50vh{
        @include sizeType('max-height', 50vh);
    }
    &-25vh{
        @include sizeType('max-height', 25vh);
    }
}
/* #endregion Height */


/* #region Border */
.border{
    &-all{
        border: 1px solid grey;
        &-no{
            @include borderResp(0, null);
        }
        &-on{
            @include borderResp(1, null);
        }
    }
    &-top{
        border-top: 1px solid grey;
        &-no{
            @include borderResp(0, top);
        }
        &-on{
            @include borderResp(1, top);
        }
    }
    &-bottom{
        border-bottom: 1px solid grey;
        &-no{
            @include borderResp(0, bottom);
        }
        &-on{
            @include borderResp(1, bottom);
        }
    }
    &-left{
        border-left: 1px solid grey;
        &-no{
            @include borderResp(0, left);
        }
        &-on{
            @include borderResp(1, left);
        }
    }
    &-right{
        border-right: 1px solid grey;
        &-no{
            @include borderResp(0, right);
        }
        &-on{
            @include borderResp(1, right);
        }
    }
}
/* #endregion Border */


/* #region Position */
.position{
    &-static{
        @include positionInit(static);
    }
    &-fixed{
        @include positionInit(fixed);
    }
    &-absolute{
        @include positionInit(absolute);
    }
    &-relative{
      @include positionInit(relative);
    }
}
/* #endregion Position */


/* #region Text */
.text{
    &-left{
        text-align: left
    }
    &-center{
        text-align: center
    }
    &-right{
        text-align: right
    }
    &-justify{
        text-align: justify
    }
    &-capitalize{
        text-transform: capitalize
    }
    &-lowercase{
        text-transform: lowercase
    }
    &-uppercase{
      text-transform: uppercase
  }
}
/* #endregion Text */


/* #region Margin / Padding */
.padding{
    @include margeType('padding');
}

.margin{
    @include margeType('margin');
}
/* #endregion Margin / Padding */


/* #region Display */
.d{
    &-block{
        @include displayInit('block');
    }
    &-inline{
        @include displayInit('inline');
    }
    &-inline-block{
        @include displayInit('inline-block');
    }
    &-flex{
        @include displayInit('flex');
    }
    &-grid{
        @include displayInit('grid');
    }
    &-table{
        @include displayInit('table');
    }
    &-none{
        @include displayInit('none');
    }
}
/* #endregion Display */