.parallax-section {
    position: relative;
    height: 75vh;
    overflow: hidden;
}

.parallax-element {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-image: url("../../../../public/uploads/images/pages/bg-parallax.jpg");
}