// ABSTRACTS
@import './abstracts/variables';
@import './abstracts/mixins';

// BASE
@import './base/reset';
@import './base/typography';

// COMPONENTS
@import './components/parallax';
@import './components/grid';
@import './components/utils';
@import './components/buttons';

// LAYOUT
@import './layouts/header';
@import './layouts/navigation';
@import './layouts/footer';