$scrollTime: .2s;


// GRID
// -----------------------------------------
$grid-size: 12;


// MARGES
// -----------------------------------------
$marge-m: 2rem;
$marge-d-x: 10vw;
$marge-d-y: 5vw;


// DISPLAYS
// -----------------------------------------
$displayValues: (
    block: block,
    contents: contents,
    flex: flex,
    grid: grid,
    inline: inline,
    inline-block: inline-block,
    inline-flex: inline-flex,
    inline-grid: inline-grid,
    inline-table: inline-table,
    table: table,
    none: none
);


// TEXTS ALIGNES & TRANSFORMS
// -----------------------------------------
$text-align-values: left, center, right, justify, initial, inherit;
$text-transform-values: none, capitalize, uppercase, lowercase, initial, inherit;


// POSITIONS
// -----------------------------------------
$positions: (
    static: static,
    absolute: absolute,
    fixed: fixed,
    relative: relative,
    sticky: sticky,
    initial: initial,
    inherit: inherit
);


// BORDERS
// -----------------------------------------
$border-directions: all, top, bottom, left, right;


// SCREEN SIZES
// -----------------------------------------
$lg: 1200px;
$md: 1024px;
$sm: 768px;
$xs: 640px;

$breakpoints: (
    lg: $lg,
    md: $md,
    sm: $sm,
    xs: $xs
);


// SIZES
// -----------------------------------------
$sizesValues: (
    100: 100%,
    75: 75%,
    50: 50%,
    25: 25%,
    100vw: 100vw,
    75vw: 75vw,
    50vw: 50vw,
    25vw: 25vw,
    100vh: 100vh,
    75vh: 75vh,
    50vh: 50vh,
    25vh: 25vh
);


// FONTS
// -----------------------------------------
$ff-title: '';
$ff-body: '';


// FONTS SIZES
// -----------------------------------------
$fsBody: 16;
$fsTitleMob: 24;
$fsTitle1: 48;
$fsTitle2: 32;
$fsTitle3: 28;
$fsTitle4: 24;
$fsTitle5: 20;


// LINE HEIGHTS
// -----------------------------------------
$lhTitle: 1.2;
$lhText: 1.5;


// COLORS
// -----------------------------------------
$colorBk: #171717;
$colorWt: #FFF;

$colorP: '';