.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
    }
    li{
        margin-left: 1rem;
    }
    a{
        color: black;
    }
    &:not(:last-child){
        border-bottom: .0625rem solid lightgray;
    }
}