{% extends 'admin.html.twig' %}

{% block title %}Modifier le pied de page du site{% endblock %}

{% block body %}
    <section class="block">
        <h2>Modifier le pied de page du site</h2>
        <p>{{ form_widget(form.common_block) }}</p>
        {{ form_row(form.common_submit) }}
    </section>
{% endblock %}
