{% extends 'admin.html.twig' %}

{% block title %}Modifier l'en-tête du site{% endblock %}

{% block body %}
    <section class="block">
        <h2>Modifier l'en-tête du site</h2>
        {{ form_start(form) }}
            <p>{{ form_widget(form.common_block, {
                'value': content
            }) }}</p>
            
            {{ form_row(form.common_submit) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
