{% extends 'base.html.twig' %}

{% block title %}{{ meta_title }} - Nom du projet{% endblock %}
{% block meta_description %}{{ meta_desc }}{% endblock %}

{% block body %}

    {% include "webpages/blocks/header.html.twig" %}
    <main>
        {% include "webpages/pages/#{page_id}.html.twig" %}
    </main>
    {% include "webpages/blocks/footer.html.twig" %}

{% endblock %}
